.body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: relative;
    min-width: 1000px;
    max-width: 1200px;
    opacity: 1;
    margin: 0 auto;
}


.image {
    vertical-align: middle;
    border: 0;
}

.logo__picture {
    height: auto;
    vertical-align: middle;
    border: 0;
}

.h1_blue {
    color: #0075FF;
}

a.logo {
    text-decoration: none;
}

p {
    line-height: 30px;
}

.button {
    font-weight: 600;
    min-width: 100px;
    max-width: 100%;
    padding: 1.44em 2.11em;
    border-radius: 14px;
    border: 2px solid #e7e7e7;
    font-size: 18px;
}

.button a {
    color: #211F54;
}

.button_blue {
    background-color: #0075FF;
    border-color: #0075FF;
}
.button_white {
    background-color: white;
    border-color: #e7e7e7;
}


.button_blue a {
    color: white;
}

.button a {
    text-decoration: none;
}

.call-me-container {
    margin: auto;
    display: flex;
    align-items: center;
}

.call-me-container .call-me-container__image {
    vertical-align: middle;
    margin-right: 14px;
}

.call-me-container .call-me-container__phone {
    align-items: center;
}

.call-me-container .call-me-container__phone h4 {
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    font-size: 16px;
    color: #6E7191;
    padding-bottom: 8px;
}

.call-me-container .call-me-container__phone h3{
    text-transform: uppercase;
    margin: auto;
    font-size: 28px;
}

div.headline {
    display: flex; 
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
}

nav.main-nav {
    display: flex;
    align-items: center;
}


.main-nav__list {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    box-pack: end;
    list-style-type: none;
}

.main-nav__item {
    text-align: left;
    color: #211F54;
}

.main-nav__link {
    padding: 20px;
    text-decoration: none;
}

.main-nav__item .button { 
    font-weight: 400;
}

.wrapper {
    padding: 13% 0;
    position: relative;
    margin: 0 auto;
}

.wrapper_gray {
    background-color: #F7F9FC;
}

.body .wrapper:first-of-type {
    padding-top: 0;
    padding-bottom: 7%;
    position: relative;
}

.block1 {
    display: flex;
}

.block1 .hero-image {
    max-width: 50%;
    position: relative;
}

.block1 .section_left {
    margin: auto 0;
}

.block1 .section_left .article h1 {
    margin: auto;
}

.block1 .contacts {
    display: flex;
    align-items: center;
    margin: auto;
}

.block1 .contacts .button {
    padding: 1.44em 3em;
}

.block1 h1 {
    font-size: 68px;
}

.block1 p {
    font-size: 21px;
    color: #6E7191;
}

.block2 {
    align-items: center;
    text-align: center;
}

.block2 .article {
    padding: 0 23%;
}

.article h1 {
    font-size: 48px;
}

.block2 .article p {
    font-size: 21px;
    color: #6E7191;
}

.block2 .tabs {
    margin: auto;
}

.block2 .tabs__list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.block2 .tabs__item h3 {
    font-size: 28px;
}

.block2 .tabs__item p {
    color: #6E7191;
    font-size: 21px;
    padding: 0 10px;
}

.block2 .footer .button:first-child  {
    margin-right: 28px;
}

.block3 {
    align-items:center;
    text-align: center;
}

.block3 .article {
    padding: 0 15%;
}

.block3 .article h1{
    font-size: 48px;
}

.block3 .article h2{
    font-size: 21px;
    color: #6E7191;
    font-weight: 400;
}

.block3 .tabs {
    margin: auto;
}

.block3 .tabs__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto 15%;
}

.block3 .tabs__item {
    text-align: start;
    margin: auto;
    display: flex;
    align-items: center;
}

.block3 .tabs__item h4{
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    font-size: 16px;
    color: #6E7191;
    padding-bottom: 8px;
}

.block3 .tabs__item h3{
    text-transform: uppercase;
    margin: auto;
    font-size: 28px;
}

.video-section {
    margin: 32px 0;
}

.block4 {
    align-items: center;
    text-align: center;
}

.block4 .article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block4 .article h1{
    max-width: 50%;
    text-align: start;
}

.block4 .tabs {
    margin: auto;
}

.block4 .tabs__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto 0;
    justify-content: space-between;
}

.block4 .tabs__item {
    align-items: center;
}

.block4 .tabs__item + .tabs__item{
    margin-left: 10px;
}

.block4 .card {
    padding: 30px;
    width: auto;
    border-radius: 14px;
    border: 2px solid #e7e7e7;
}

.block4 .card p {
    color: #6E7191;
    font-weight: 400;
}

.block5 {
    display: flex;
    border-radius: 14px;
    background-color: #211F54;
    color: white;
}

.block5__section-left {
    min-width: 50%;
}

.block5__section-right {
    margin: auto;
}

.block5__section-right .article {
    padding: 30px 0;
    max-width: 80%;
}

.block5__section-right .article h4 {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.6px;
}

.block5__section-right .article h1 , .block5__section-right .article p {
    margin: auto;
}

.block5__section-right .contacts {
    display: flex;
}

.block6 {
    display: flex;
}

.block6 .hero-image {
    max-width: 50%;
    /* align-items: start; */
    /* position: initial; */
}

.block6 .section_right {
    margin-left: 5%;
    display: grid;
}

.block6 .section_right .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block6 .grid__item {
    display: flex;
}

.block6 .grid__item h4 {
    display: flex;
    margin: 1em;
}
.block6 .grid__item img {
    margin-right: 10px;
}
.block6 .footer {
    margin-top: 20px;
    align-items: center;
}

.block7 {
    display: flex;
}

.block7 .section-left .article {
    margin-right: 50px;
}

.block7 .section-left .article > *{
    margin: auto;
}

.block7 .section-left .article h1 {
    font-size: 48px;
    margin-bottom: 19px;
}

.block7 .section-left .article p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #6E7191;
}

.block7 .section-left .article small {
    font-size: 12px;
    color: #6E7191;
}

.block7 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0;
}

.block7 .grid__item div {
    display: flex;
    font-size: 54px;
}

.block7 .grid__item div > * {
    margin: 0;
}

.block7 .grid__item p {
    margin: 0;
    color: #6E7191;
    font-weight: bold;
}

.block8 {
    display: grid;
}

.block8 .tabs {
    margin: auto;
}

.block8 .tabs__list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.block8 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block8 .article {
    max-width: 50%;
}

.block8 .article h1 {
    margin: 0 0 9px 0;
}

.block8 .article p {
    margin: 0;
    color: #6E7191;
}

.block8 .contacts {
    display: flex;
}

.block8 .contacts .button + .button {
    margin-left: 28px;
}

.block8 .tabs {
    padding-bottom: 200px;
}

.block8 .tabs__list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.block8 .tabs__item + .tabs__item {
    margin-left: 28px;
}

.block8 .card {
    width: 596px;
    position: relative;
}

.block8 .card .image {
    border-radius: 14px;
}
/*absolute рот ебал*/
.block8 .card .card__body {
    width: 536px;
    height: 324px;
    border-radius: 14px;
    border: 2px solid #e7e7e7;
    background-color: white;
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    margin: auto;
}

.block8 .card .card__body .card__article {
    padding: 49px 49px 0 49px;
}

.block8 .card .card__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 49px;
}

.block9 {
    display: flex;
}

.block9 .section-info {
    margin: auto 59px auto 0;
}

.block9 .section-info .section-info__article {
    margin-bottom: 11px ;
}

.block9 .section-info .section-info__article > * {
    margin: 0;
}

.block9 .section-info .section-info__article h1 {
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 58px;
}

.block9 .section-info .section-info__article p {
    color: #6E7191;
    font-size: 21px;
    line-height: 30px;
}
.block9 .call-me-container {
    margin-bottom: 51px;
}
.block9 hr {
    margin-bottom: 55px;
}

.block9 .section-form .blank-form {
    border-radius: 14px;
    border: 2px solid #e7e7e7;
    background-color: white;
    padding: 61px;
}

.block9 .section-form .blank-form .grid1{
    display: grid;
    column-gap: 32px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
}

.block9 .blank-form .grid__item label{
    padding: 0 12px 12px 0;
    display: block;
    margin: auto;
}

.block9 .blank-form .grid__item input{
    display: block;
    padding: 1.12em 1.12em;
    border-radius: 14px;
    border: 2px solid #e7e7e7;
    font-size: 18px;
}

.block9 .blank-form .grid2 .grid__item input {
    box-sizing:border-box;
    width: 100%;
    height: 144px;
}
.block9 .blank-form .grid2 {
    margin-bottom: 32px;
}

.body .footer .section-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.body .footer .aboba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px 0;
}
